@use "node_modules/@picocss/pico/scss/pico" with (
    $theme-color: "indigo",
    $css-var-prefix: "--realmange-",
    $breakpoints: (
        // Small (landscape phones)
        // Font size: 17px
        sm: (
            breakpoint: 576px,
            viewport: 510px,
            root-font-size: 86.25%,
        ),
        // Medium (tablets)
        // Font size: 18px
        md: (
            breakpoint: 768px,
            viewport: 700px,
            root-font-size: 92.5%,
        ),
        // Large (desktops)
        // Font size: 20px
        lg: (
            breakpoint: 1024px,
            viewport: 950px,
            root-font-size: 105%,
        ),
        // Extra large (large desktops)
        // Font size: 22px
        xl: (
            breakpoint: 1280px,
            viewport: 1200px,
            root-font-size: 107.5%,
        ),
        // Extra extra large (larger desktops)
        // Font size: 24px
        xxl: (
            breakpoint: 1536px,
            viewport: 1450px,
            root-font-size: 110%,
        ),
    ),
);

@use "global/grid.scss";
@use "global/default-layout.scss";

.table {
    display: table;
    width: 100%; /* Bredde kan justeres eller fjernes efter behov */
    border-collapse: collapse;
    font-size: medium;

    a.row{
        text-decoration: none;
        color: inherit;

        &:hover {
            background-color: var(--realmange-primary-focus);
        }
    }

    .row {
        display: table-row;
        
        &.header {
            color: var(--realmange-muted-color);
            font-weight: bold;
        }

        &:nth-child(odd) {
            background-color: var(--realmange-table-row-stripped-background-color);
        }

        .cell {
            display: table-cell;
            padding: 10px;
            text-align: left;
        }


    }
}


.step-indicators{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        flex-direction: column;

        &:not(.step-progress){
            cursor: pointer;

            &:hover {
                color: var(--realmange-primary-hover-background);
                .step-indicator {
                    color: white;
                    background-color: var(--realmange-primary-hover-background);
                }
            }
        }


        .step-indicator{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: var(--realmange-muted-color);
            margin: 0 auto;
            margin-bottom: 5px;
        }

        &.active, &.completed {
            color: var(--realmange-primary-background);
            .step-indicator {
                color: white;
                background-color: var(--realmange-primary-background);
            }
        }

    }

    .step-progress{
        flex: 1;
    }
 }


.fade-in-enter-active,
.fade-in-leave-active {
  transition: opacity 0.3s ease;
}

.fade-in-enter-from,
.fade-in-leave-to {
  opacity: 0;
}


.slide-in-bottom-delayed-enter-active {
    transition: all 0.3s ease-out;
    transition-delay: 0.25s;
  }
  
  .slide-in-bottom-delayed-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  
  .slide-in-bottom-delayed-enter-from,
  .slide-in-bottom-delayed-leave-to {
    transform: translateY(60px);
    opacity: 0;
  }


